<form class="form-horizontal" role="form">

  <div class="form-group">
    <div class="botonera" >
      <button type="submit" class="btn btn-primary ">Guardar</button>
      <a href="/persona" class="btn btn-default">Atrás</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Datos Persona</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-1 control-label">Nombre:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">Apellido:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Apellido">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">Edad:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Edad">
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Datos Domicilio</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-1 control-label">Calle:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Calle">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">Número:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Número">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">Localidad:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Localidad">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">Provincia:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Provincia">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="botonera" >
      <button type="submit" class="btn btn-primary ">Guardar</button>
      <a href="/persona" class="btn btn-default">Atrás</a>
    </div>
  </div>
</form>