
#bs-navbar-collapse{
	display: none !important;
}
.navbar-header button{
	display: none !important;	
}
.container{
	position: relative;
	width: 90% !important;
	background: white;
	padding: 10px !important;
	border-radius: 5px;
}

.page-header h1{
	font-size: 48px !important;
	margin-top: -20px;
}

.botonera{
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.botonera a{
	margin-left: 5px;
}

.listado_atributos{
	list-style: none;
}
.listado_atributos li{
	padding-top: 5px;
	padding-bottom: 5px;
}